.bd_root {
    background-color: #1f88cb;
}

.div_dialog {
    width: 300px;
    height: 200px;
    position: absolute;
    background: white;
    margin: -150px -150px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
}
.div_dialog_inner{
    width: 100%;
    height: 50px;
    background: #093f63;
    float: left;
    border-radius: 10px 10px 0px 0px;/*线框角度*/
    text-align: center;/*水平居中*/
    line-height: 50px;/*垂直居中*/
    color: white;
}
.div_input{
    width: 100%;
    height: 40px;
    /*background: #ff0000;*/
    float: left;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;/*水平居中*/
    color: #093f63;
}
.div_input_parent{
    padding: 10px;
}
.div_button{
    text-align: center;
}
.btn{
    width: 80px;
    height: 30px;
}
#btn_register{
    margin-left: 10px;
}