<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SMT</title>
    <link rel="stylesheet" href="login.css" type="text/css" charset="UTF-8"/>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btn_login").click(function () {
                var uname = $("#et_username").val();
                var upassword = $("#et_password").val();
                var params = "/login?username=" + uname + "&password=" + upassword;
                $.ajax({
                    url: params,
                    type: "POST",
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',//防止乱码
                    success: function (data) {
                        var json = JSON.stringify(data);
                        alert("success" + json);
                        window.location.href = "bookList"
                    },
                    error: function (result) {
                        alert("error" + JSON.stringify(result))
                    }

                })
            });

            $("#btn_register").click(function () {
                window.location.href = "register"
            });
        });
    </script>
</head>
<body class="bd_root">
<div class="div_dialog">
    <div class="div_dialog_inner">Welcome to SMT</div>
    <div class="div_input_parent">
        <div class="div_input">用户名:<input id="et_username" type="text" style="margin-left: 10px"/></div>
        <div class="div_input">密&nbsp;&nbsp;&nbsp;码:<input id="et_password" type="password" style="margin-left: 10px"/></div>
        <div class="div_forget">忘记密码?</div>
        <div class="div_input">
            <button class="btn" id="btn_login">登录</button>
            <button class="btn" id="btn_register">注册</button>
        </div>
    </div>

</div>
</body>
</html>