<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>CSS3垂直手风琴折叠菜单DEMO演示</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Iconos -->
    <link href="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" rel="stylesheet">

    <link rel="stylesheet" href="menu.css" media="screen" type="text/css" />
    <script type="text/javascript">
        $(function() {
            var Accordion = function(el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            };

            Accordion.prototype.dropdown = function(e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                };
            };

            var accordion = new Accordion($('#accordion'), false);
        });
    </script>
</head>

<body>
<div style="text-align:center;clear:both">
    <!--<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>-->
    <!--<script src="/follow.js" type="text/javascript"></script>-->
</div>
<!-- Contenedor -->
<ul id="accordion" class="accordion">
    <li>
        <div class="link"><i class="fa fa-paint-brush"></i>Diseño web<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="#">Photoshop</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">Maquetacion web</a></li>
        </ul>
    </li>
    <li>
        <div class="link"><i class="fa fa-code"></i>Desarrollo front-end<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="#">Javascript</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">Frameworks javascript</a></li>
        </ul>
    </li>
    <li>
        <div class="link"><i class="fa fa-mobile"></i>Diseño responsive<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="#">Tablets</a></li>
            <li><a href="#">Dispositivos mobiles</a></li>
            <li><a href="#">Medios de escritorio</a></li>
            <li><a href="#">Otros dispositivos</a></li>
        </ul>
    </li>
    <li><div class="link"><i class="fa fa-globe"></i>Posicionamiento web<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="#">Google</a></li>
            <li><a href="#">Bing</a></li>
            <li><a href="#">Yahoo</a></li>
            <li><a href="#">Otros buscadores</a></li>
        </ul>
    </li>
</ul>

<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

<script rel="stylesheet"  src="index.js" type="text/javascript"></script>

</body>

</html>